$theme-color: steelblue;
$color-white: #ffffff;
$color-black: #000000;
$color-border: #e4eeff;
$error-color: #DC7070;
$error-border: #D14646;
$color-java: #b07219;
$color-c: #555555;
$color-javascript: #f1e05a;
$color-python: #3572A5;
$color-html: #e34c26;
$color-css: #563d7c;
$color-typescript: #2b7489;
$color-cpp: #f34b7d;
$color-php: #4F5D95;
$color-ruby: #701516;