@import './theme';
@import './mixin/mixin';
.homePage {
    margin-top: 35px;
    .head,  .userName {
        margin-bottom: 25px;
    }
    input {
        padding:10px;
        border: 1px solid $theme-color;
        border-radius: 2px;
        opacity: 0.8;
        outline:none;
        @include boxShadow(5px, 13px, 30px, -13px, rgba(0, 0, 0, 0.75));
        &:focus {
            border: none;
        }
    }
    .timlineButton, .repoButton {
        width: 50%;
    }
    button {
        height: 40px;
        background: $theme-color;
        @include boxShadow(5px, 13px, 30px, -13px, rgba(0, 0, 0, 0.75));
        border: none;
        color: $color-white;
        font-family: monospace;
    }
}